body{
    width: 90%;
}

.game-display{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.game-display img {
    width: 100px;
    border: solid black 0.5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.button-container {
    text-align: center;   
    margin-left: 860px;
    margin-top: 5px;
}

.rotate-button {
    position: inline-block;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
}

.choose-image-items {
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.choose-image-items img {
    width: 100px;
    border: solid black 1px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-items-container {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.image-items-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 0px  rgba( 0, 0, 0, 0.5); 
}

.image-items-container p {
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    top: 15px;
    left: 15px;
    margin: 5px;
    padding: 2px 5px;
    color: #000; 
}
